.shadow{
    color:rgb(214, 81, 29);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn{
    padding: 2px;
    margin-bottom: 4px;
    margin-left: 5px;
}
#na{
    margin-left: 55px;
}
#na1{
    margin-left: 55px;
}
#na2{
    margin-left: 55px;
}
#na3{
    margin-left: 55px;
}
#na4{
    margin-left: 55px;
}
#na5{
    margin-left: 55px;
}

#endpoint{
    margin-left: 35px;
}
.navi{
   margin-left: 550px;
}
#ab{
    margin-left: 55px; 
}
#we{
    margin-left: 55px; 
}
   